body {
	font-size: 20px;
	font-family: 'Prompt', sans-serif;
}

.heading {
	text-align: center;
	width: 360px;
	margin: 20px auto;
}
.heading1 {
	font-size: 2em;
	margin-bottom: -0.3em;
}
.heading2 {
	font-size: 1.3em;
}

.details {
	text-align: center;
	font-size: 0.8em;
	width: 360px;
	margin: 20px auto;
}
#details2 {
	font-size: 1.3em;
}
#details2, #details3 {
	display: none;
}

.wrapper {
	width: 360px;
	height: 270px;
	margin: 0 auto;
	border: 10px solid lightgray;
}

.result {
	display: none;
}

#chart, #axis, #axis-names {
	position: absolute;
}

#chart {
	cursor: pointer;
}

#axis-names {
	width: 360px;
	height: 270px;
}
.axis-name {
	position: absolute;
	color: white;
	background-color: black;
	text-align: center;
	width: max-content;
}
.axis-name.x {
	top: 120px;
}
.axis-name.y {
	left: 180px;
}
.axis-name.x.left {
	left: 0.75em;
	transform: translateX(-50%) rotate(-90deg);
}
.axis-name.x.right {
	right: 0.75em;
	transform: translateX(50%) rotate(90deg);
}
.axis-name.y.top {
	top: 0;
	transform: translateX(-50%);
}
.axis-name.y.bottom {
	bottom: 0;
	transform: translateX(-50%);
}

@media screen and (min-width: 1000px) {
	.heading {
		width: 800px;
	}
	.details {
		width: 800px;
	}
	.wrapper {
		width: 800px;
		height: 600px;
		margin: 0 auto;
		border: 10px solid lightgray;
	}
	#axis-names {
		width: 800px;
		height: 600px;
	}
	.axis-name.x {
		top: 285px;
	}
	.axis-name.y {
		left: 400px;
	}
}